.contactWrapper {
  padding: 8rem 1rem;   
  display: flex;
  justify-content: center;
}

.contactForm {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid #9f91b4;
  border-radius: 20px;
  padding: 1.3rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.6);
}

.title {
  font-size: 1.7rem;
  font-weight: 600;
  color: #a855f7;
  text-align: center;
}

.contactName, .contactEmail, .contactMessage {
  margin-top: 3rem;
}

.contactForm input,
.contactForm textarea {
  padding: 0.8rem;
  border-radius: 6px;
  border: 1px solid #334155;
  background-color: #0f172a;
  color: white;
}

.contactForm input:focus,
.contactForm textarea:focus {
  outline: none;
  border-color: #a855f7;
}

.contactForm button {
  padding: 0.8rem;
  border-radius: 6px;
  border: none;
  background-color: #7c2ec5;
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
  margin-top: 2rem;
  border-radius: 25px;
}

.contactForm button:hover {
  background-color: #631ca6;
}